parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between BenRowe\\StateFlow\\Action\\Action and BenRowe\\StateFlow\\Action\\Action will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Action/ActionCollection.php

		-
			message: '#^Parameter \#1 \$elements of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\Action\>\:\:__construct\(\) expects array\<int, BenRowe\\StateFlow\\Action\\Action\>, array\<int\|string, BenRowe\\StateFlow\\Action\\Action\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Action/ActionCollection.php

		-
			message: '#^Parameter \#1 \$offset of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\Action\>\:\:offsetSet\(\) expects int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Action/ActionCollection.php

		-
			message: '#^Parameter \#1 \.\.\.\$actions \(BenRowe\\StateFlow\\Action\\Action\) of method BenRowe\\StateFlow\\Action\\ActionCollection\:\:__construct\(\) is not contravariant with parameter \#1 \$elements \(array\) of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\Action\>\:\:__construct\(\)\.$#'
			identifier: method.childParameterType
			count: 1
			path: src/Action/ActionCollection.php

		-
			message: '#^Instanceof between BenRowe\\StateFlow\\Action\\ActionResult and BenRowe\\StateFlow\\Action\\ActionResult will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Action/ActionResultCollection.php

		-
			message: '#^Parameter \#1 \$elements of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\ActionResult\>\:\:__construct\(\) expects array\<int, BenRowe\\StateFlow\\Action\\ActionResult\>, array\<int\|string, BenRowe\\StateFlow\\Action\\ActionResult\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Action/ActionResultCollection.php

		-
			message: '#^Parameter \#1 \$offset of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\ActionResult\>\:\:offsetSet\(\) expects int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Action/ActionResultCollection.php

		-
			message: '#^Parameter \#1 \.\.\.\$results \(BenRowe\\StateFlow\\Action\\ActionResult\) of method BenRowe\\StateFlow\\Action\\ActionResultCollection\:\:__construct\(\) is not contravariant with parameter \#1 \$elements \(array\) of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Action\\ActionResult\>\:\:__construct\(\)\.$#'
			identifier: method.childParameterType
			count: 1
			path: src/Action/ActionResultCollection.php

		-
			message: '#^Instanceof between BenRowe\\StateFlow\\ActionSkip and BenRowe\\StateFlow\\ActionSkip will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/ActionSkipCollection.php

		-
			message: '#^Parameter \#1 \$elements of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\ActionSkip\>\:\:__construct\(\) expects array\<int, BenRowe\\StateFlow\\ActionSkip\>, array\<int\|string, BenRowe\\StateFlow\\ActionSkip\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/ActionSkipCollection.php

		-
			message: '#^Parameter \#1 \$offset of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\ActionSkip\>\:\:offsetSet\(\) expects int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/ActionSkipCollection.php

		-
			message: '#^Parameter \#1 \.\.\.\$skips \(BenRowe\\StateFlow\\ActionSkip\) of method BenRowe\\StateFlow\\ActionSkipCollection\:\:__construct\(\) is not contravariant with parameter \#1 \$elements \(array\) of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\ActionSkip\>\:\:__construct\(\)\.$#'
			identifier: method.childParameterType
			count: 1
			path: src/ActionSkipCollection.php

		-
			message: '#^Call to method BenRowe\\StateFlow\\Configuration\\Configuration\:\:validateActions\(\) with array\<BenRowe\\StateFlow\\Action\\Action\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Call to method BenRowe\\StateFlow\\Configuration\\Configuration\:\:validateGates\(\) with array\<BenRowe\\StateFlow\\Gate\\Gate\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Method BenRowe\\StateFlow\\Configuration\\Configuration\:\:__construct\(\) has parameter \$actions with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Method BenRowe\\StateFlow\\Configuration\\Configuration\:\:__construct\(\) has parameter \$actions with no value type specified in iterable type array\|\(BenRowe\\StateFlow\\Action\\ActionCollection&iterable\<BenRowe\\StateFlow\\Action\\Action\>\)\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Method BenRowe\\StateFlow\\Configuration\\Configuration\:\:__construct\(\) has parameter \$transitionGates with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Method BenRowe\\StateFlow\\Configuration\\Configuration\:\:__construct\(\) has parameter \$transitionGates with no value type specified in iterable type array\|\(BenRowe\\StateFlow\\Gate\\GateCollection&iterable\<BenRowe\\StateFlow\\Gate\\Gate\>\)\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Parameter \#1 \$actions of method BenRowe\\StateFlow\\Configuration\\Configuration\:\:createActionCollection\(\) expects array\<BenRowe\\StateFlow\\Action\\Action\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Parameter \#1 \$gates of method BenRowe\\StateFlow\\Configuration\\Configuration\:\:createGateCollection\(\) expects array\<BenRowe\\StateFlow\\Gate\\Gate\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/Configuration.php

		-
			message: '#^Instanceof between BenRowe\\StateFlow\\Gate\\Gate and BenRowe\\StateFlow\\Gate\\Gate will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Gate/GateCollection.php

		-
			message: '#^Parameter \#1 \$elements of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Gate\\Gate\>\:\:__construct\(\) expects array\<int, BenRowe\\StateFlow\\Gate\\Gate\>, array\<int\|string, BenRowe\\StateFlow\\Gate\\Gate\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gate/GateCollection.php

		-
			message: '#^Parameter \#1 \$offset of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Gate\\Gate\>\:\:offsetSet\(\) expects int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Gate/GateCollection.php

		-
			message: '#^Parameter \#1 \.\.\.\$gates \(BenRowe\\StateFlow\\Gate\\Gate\) of method BenRowe\\StateFlow\\Gate\\GateCollection\:\:__construct\(\) is not contravariant with parameter \#1 \$elements \(array\) of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\Gate\\Gate\>\:\:__construct\(\)\.$#'
			identifier: method.childParameterType
			count: 1
			path: src/Gate/GateCollection.php

		-
			message: '#^Instanceof between BenRowe\\StateFlow\\GateEvaluation and BenRowe\\StateFlow\\GateEvaluation will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/GateEvaluationCollection.php

		-
			message: '#^Parameter \#1 \$elements of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\GateEvaluation\>\:\:__construct\(\) expects array\<int, BenRowe\\StateFlow\\GateEvaluation\>, array\<int\|string, BenRowe\\StateFlow\\GateEvaluation\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/GateEvaluationCollection.php

		-
			message: '#^Parameter \#1 \$offset of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\GateEvaluation\>\:\:offsetSet\(\) expects int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/GateEvaluationCollection.php

		-
			message: '#^Parameter \#1 \.\.\.\$evaluations \(BenRowe\\StateFlow\\GateEvaluation\) of method BenRowe\\StateFlow\\GateEvaluationCollection\:\:__construct\(\) is not contravariant with parameter \#1 \$elements \(array\) of method Doctrine\\Common\\Collections\\ArrayCollection\<int,BenRowe\\StateFlow\\GateEvaluation\>\:\:__construct\(\)\.$#'
			identifier: method.childParameterType
			count: 1
			path: src/GateEvaluationCollection.php

		-
			message: '#^Match arm comparison between BenRowe\\StateFlow\\Locking\\LockStrategy\:\:WAIT and BenRowe\\StateFlow\\Locking\\LockStrategy\:\:WAIT is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: src/StateWorker.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\StateFactory\:\:fromArray\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$data of static method BenRowe\\StateFlow\\Locking\\LockState\:\:fromArray\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$decoded of static method BenRowe\\StateFlow\\TransitionContext\:\:restoreActionExecutionsCollection\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$decoded of static method BenRowe\\StateFlow\\TransitionContext\:\:restoreActionSkipsCollection\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$decoded of static method BenRowe\\StateFlow\\TransitionContext\:\:restoreConfiguration\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$decoded of static method BenRowe\\StateFlow\\TransitionContext\:\:restoreGateEvaluationsCollection\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#2 \$decoded of static method BenRowe\\StateFlow\\TransitionContext\:\:restoreStatus\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Property BenRowe\\StateFlow\\TransitionContext\:\:\$skippedDueToLock \(bool\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/TransitionContext.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\Configuration\\ConfigurationTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/Configuration/ConfigurationTest.php

		-
			message: '#^Cannot access property \$gateResult on BenRowe\\StateFlow\\ActionSkip\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Integration/StateFlow/ActionGuardTest.php

		-
			message: '#^Cannot access property \$isActionGate on BenRowe\\StateFlow\\GateEvaluation\|null\.$#'
			identifier: property.nonObject
			count: 5
			path: tests/Integration/StateFlow/ActionGuardTest.php

		-
			message: '#^Cannot access property \$result on BenRowe\\StateFlow\\GateEvaluation\|null\.$#'
			identifier: property.nonObject
			count: 5
			path: tests/Integration/StateFlow/ActionGuardTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\ActionGuardTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/ActionGuardTest.php

		-
			message: '#^Cannot access property \$executionState on BenRowe\\StateFlow\\Action\\ActionResult\|null\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/Integration/StateFlow/BasicExecutionTest.php

		-
			message: '#^Cannot access property \$result on BenRowe\\StateFlow\\GateEvaluation\|null\.$#'
			identifier: property.nonObject
			count: 3
			path: tests/Integration/StateFlow/BasicExecutionTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\BasicExecutionTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/BasicExecutionTest.php

		-
			message: '#^Cannot access property \$gateResult on BenRowe\\StateFlow\\ActionSkip\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/Integration/StateFlow/ComplexWorkflowTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\ComplexWorkflowTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/ComplexWorkflowTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\DeltaAccessTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/DeltaAccessTest.php

		-
			message: '#^Method BenRowe\\StateFlow\\Gate\\Gate@anonymous/tests/Integration/StateFlow/ErrorHandlingTest\.php\:148\:\:message\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: tests/Integration/StateFlow/ErrorHandlingTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\ErrorHandlingTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/ErrorHandlingTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\EventDispatchingTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/EventDispatchingTest.php

		-
			message: '#^Binary operation "\+" between mixed and 1 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Integration/StateFlow/ExecutionControlTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\ExecutionControlTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/ExecutionControlTest.php

		-
			message: '#^Property BenRowe\\StateFlow\\Action\\Action@anonymous/tests/Integration/StateFlow/ExecutionControlTest\.php\:123\:\:\$stateCaptures is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Integration/StateFlow/ExecutionControlTest.php

		-
			message: '#^Property BenRowe\\StateFlow\\Action\\Action@anonymous/tests/Integration/StateFlow/ExecutionControlTest\.php\:151\:\:\$stateCaptures is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Integration/StateFlow/ExecutionControlTest.php

		-
			message: '#^Property BenRowe\\StateFlow\\Action\\Action@anonymous/tests/Integration/StateFlow/ExecutionControlTest\.php\:179\:\:\$stateCaptures is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: tests/Integration/StateFlow/ExecutionControlTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\LockingTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/LockingTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Integration/StateFlow/SerializationTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\SerializationTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/SerializationTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\StepByStepExecutionTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/StepByStepExecutionTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\TransitionGateTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/TransitionGateTest.php

		-
			message: '#^Cannot access offset ''version'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Integration/StateFlow/WorkflowResumeTest.php

		-
			message: '#^Cannot call method toArray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/StateFlow/WorkflowResumeTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Integration\\StateFlow\\WorkflowResumeTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/StateFlow/WorkflowResumeTest.php

		-
			message: '#^BenRowe\\StateFlow\\Action\\ActionCollection does not accept string\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: tests/Unit/Action/ActionCollectionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<BenRowe\\StateFlow\\Action\\Action\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Action/ActionCollectionTest.php

		-
			message: '#^Parameter \#2 \$value of method BenRowe\\StateFlow\\Action\\ActionCollection\:\:set\(\) expects BenRowe\\StateFlow\\Action\\Action, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Action/ActionCollectionTest.php

		-
			message: '#^BenRowe\\StateFlow\\Action\\ActionResultCollection does not accept string\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: tests/Unit/Action/ActionResultCollectionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<BenRowe\\StateFlow\\Action\\ActionResult\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Action/ActionResultCollectionTest.php

		-
			message: '#^Parameter \#2 \$value of method BenRowe\\StateFlow\\Action\\ActionResultCollection\:\:set\(\) expects BenRowe\\StateFlow\\Action\\ActionResult, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Action/ActionResultCollectionTest.php

		-
			message: '#^Method PHPUnit\\Framework\\MockObject\\Generator\\Generator\:\:testDouble\(\) invoked with named argument \$allowMockingUnknownTypes, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: tests/Unit/Action/ActionResultTest.php

		-
			message: '#^Method PHPUnit\\Framework\\MockObject\\Generator\\Generator\:\:testDouble\(\) invoked with named argument \$callOriginalClone, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: tests/Unit/Action/ActionResultTest.php

		-
			message: '#^Method PHPUnit\\Framework\\MockObject\\Generator\\Generator\:\:testDouble\(\) invoked with named argument \$callOriginalConstructor, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: tests/Unit/Action/ActionResultTest.php

		-
			message: '#^Method PHPUnit\\Framework\\MockObject\\Generator\\Generator\:\:testDouble\(\) invoked with named argument \$cloneArguments, but it''s not allowed because of @no\-named\-arguments\.$#'
			identifier: argument.named
			count: 1
			path: tests/Unit/Action/ActionResultTest.php

		-
			message: '#^BenRowe\\StateFlow\\ActionSkipCollection does not accept string\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: tests/Unit/ActionSkipCollectionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<BenRowe\\StateFlow\\ActionSkip\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ActionSkipCollectionTest.php

		-
			message: '#^Parameter \#2 \$value of method BenRowe\\StateFlow\\ActionSkipCollection\:\:set\(\) expects BenRowe\\StateFlow\\ActionSkip, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/ActionSkipCollectionTest.php

		-
			message: '#^BenRowe\\StateFlow\\Gate\\GateCollection does not accept string\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: tests/Unit/Gate/GateCollectionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<BenRowe\\StateFlow\\Gate\\Gate\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/Gate/GateCollectionTest.php

		-
			message: '#^Parameter \#2 \$value of method BenRowe\\StateFlow\\Gate\\GateCollection\:\:set\(\) expects BenRowe\\StateFlow\\Gate\\Gate, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/Gate/GateCollectionTest.php

		-
			message: '#^BenRowe\\StateFlow\\GateEvaluationCollection does not accept string\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: tests/Unit/GateEvaluationCollectionTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<BenRowe\\StateFlow\\GateEvaluation\> will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/GateEvaluationCollectionTest.php

		-
			message: '#^Parameter \#2 \$value of method BenRowe\\StateFlow\\GateEvaluationCollection\:\:set\(\) expects BenRowe\\StateFlow\\GateEvaluation, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/GateEvaluationCollectionTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Unit\\StateFlowTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/StateFlowTest.php

		-
			message: '#^Binary operation "\." between ''Unexpected event '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: tests/Unit/StateWorkerTest.php

		-
			message: '#^Cannot access constant class on mixed\.$#'
			identifier: classConstant.nonObject
			count: 1
			path: tests/Unit/StateWorkerTest.php

		-
			message: '#^Parameter \#1 \$data of method BenRowe\\StateFlow\\Tests\\Unit\\StateWorkerTest\:\:createTestState\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/StateWorkerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertIsString\(\) with string will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Cannot access offset ''actions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Cannot access offset ''executionState'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Cannot access offset ''gateResult'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Cannot access offset ''result'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Cannot access offset 0 on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 6
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Parameter \#2 \$array of method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\|ArrayAccess, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/TransitionContextSerializationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: tests/Unit/TransitionContextSerializationTest.php
